---
{{ ansible_managed | comment }}

services:
  semaphore:
{% if semaphore_pro %}
    image: public.ecr.aws/semaphore/pro/server:{{ semaphore_version | default(semaphore_pro_server_version) }}{{ '@' ~ semaphore_pro_server_digest if semaphore_pro_server_digest and semaphore_version is not defined }}
{% else %}
    image: semaphoreui/semaphore:{{ semaphore_version | default(semaphore_server_version) }}{{ '@' ~ semaphore_server_digest if semaphore_server_digest and semaphore_version is not defined }}
{% endif %}
    container_name: semaphore
{% if not semaphore_use_caddy %}
    ports:
      - {{ semaphore_port }}:3000
{% endif %}
    volumes:
      - {{ semaphore_path }}/tmp:/tmp/semaphore
      - {{ semaphore_path }}/data/semaphore:/var/lib/semaphore
      - {{ semaphore_path }}/config/ssh:/home/semaphore/.ssh
{% if semaphore_encryption_keys | length > 0 %}
      - {{ semaphore_path }}/config/encryption-keys.yml:/etc/semaphore/encryption-keys.yml:ro
{% endif %}
{% if semaphore_python_requirements is defined and semaphore_python_requirements | length > 0 %}
      - {{ semaphore_path }}/config/requirements.txt:/etc/semaphore/requirements.txt
{% endif %}
{% if semaphore_extra_volumes is defined and semaphore_extra_volumes | length > 0 %}
{% for volume in semaphore_extra_volumes %}
      - {{ volume }}
{% endfor %}
{% endif %}

    env_file:
      - .env
       
    restart: always
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://127.0.0.1:3000/api/ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    environment:
      SEMAPHORE_WEB_ROOT: "{{ semaphore_url }}"

      SEMAPHORE_DB_DIALECT: "{{ semaphore_db_backend }}"
{% if semaphore_db_backend != "sqlite" %}
      SEMAPHORE_DB_NAME: "{{ semaphore_db_name }}"
      SEMAPHORE_DB_HOST: "{{ semaphore_db_backend }}"
      SEMAPHORE_DB_PORT: "{{ semaphore_db_port }}"
      SEMAPHORE_DB_USER: "${SEMAPHORE_DB_USER}"
      SEMAPHORE_DB_PASS: "${SEMAPHORE_DB_PASS}"
{% endif %}
{% if semaphore_admin_password is defined %}

      SEMAPHORE_ADMIN: "${SEMAPHORE_ADMIN}"
      SEMAPHORE_ADMIN_PASSWORD: "${SEMAPHORE_ADMIN_PASSWORD}"
      SEMAPHORE_ADMIN_NAME: "${SEMAPHORE_ADMIN_NAME}"
      SEMAPHORE_ADMIN_EMAIL: "${SEMAPHORE_ADMIN_EMAIL}"

{% endif %}
{% if semaphore_oidc_providers %}
      SEMAPHORE_OIDC_PROVIDERS: "${SEMAPHORE_OIDC_PROVIDERS}"

{% endif %}
      SEMAPHORE_COOKIE_HASH: "${SEMAPHORE_COOKIE_HASH}"
      SEMAPHORE_COOKIE_ENCRYPTION: "${SEMAPHORE_COOKIE_ENCRYPTION}"
      SEMAPHORE_ACCESS_KEY_ENCRYPTION: "${SEMAPHORE_ACCESS_KEY_ENCRYPTION}"
{% if semaphore_encryption_keys | length > 0 %}

      SEMAPHORE_ENCRYPTION_KEYS_FILE: "/etc/semaphore/encryption-keys.yml"
      SEMAPHORE_ENCRYPTION_KEYS_POLL_INTERVAL: "{{ semaphore_encryption_keys_poll_interval }}"
{% endif %}
{% if semaphore_email_alert %}

      SEMAPHORE_EMAIL_ALERT: "True"
      SEMAPHORE_EMAIL_SENDER: "{{ semaphore_email_sender }}"
      SEMAPHORE_EMAIL_HOST: "{{ semaphore_email_host }}"
      SEMAPHORE_EMAIL_PORT: "{{ semaphore_email_port }}"
      SEMAPHORE_EMAIL_USERNAME: "${SEMAPHORE_EMAIL_USER}"
      SEMAPHORE_EMAIL_PASSWORD: "${SEMAPHORE_EMAIL_PASSWORD}"
      SEMAPHORE_EMAIL_SECURE: {{ semaphore_email_secure | default(false) | ternary("True", "False") }}
      SEMAPHORE_EMAIL_TLS: {{ semaphore_email_tls | default(false) | ternary("True", "False") }}
      SEMAPHORE_EMAIL_TLS_MIN_VERSION: {{ semaphore_email_tls_min_version | default(false) | ternary("True", "False") }}
{% endif %}
{% if semaphore_metrics_enabled %}

      SEMAPHORE_METRICS_ENABLED: "True"
{% if semaphore_metrics_username is defined %}
      SEMAPHORE_METRICS_USERNAME: "${SEMAPHORE_METRICS_USERNAME}"
      SEMAPHORE_METRICS_PASSWORD: "${SEMAPHORE_METRICS_PASSWORD}"
{% endif %}
{% endif %}
{% if semaphore_jwt_enabled %}

      SEMAPHORE_JWT_ENABLED: "True"
      SEMAPHORE_JWT_ISSUER: "{{ semaphore_jwt_issuer }}"
      SEMAPHORE_JWT_DEFAULT_TTL: "{{ semaphore_jwt_default_ttl }}"
      SEMAPHORE_JWT_MAX_TTL: "{{ semaphore_jwt_max_ttl }}"
{% endif %}
{% if semaphore_extra_envs is defined and semaphore_extra_envs | length > 0 %}

{% for key, value  in semaphore_extra_envs.items() %}
      {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{% if semaphore_db_backend != "sqlite" or semaphore_use_caddy %}
    networks:
      - semaphore_network
{% endif %}
{% if semaphore_db_backend != "sqlite" %}

    depends_on:
      {{ semaphore_db_backend }}:
        condition: service_healthy

  {{ semaphore_db_backend }}:
    image: {{ semaphore_db_backend }}:{{ semaphore_db_version | default("latest") }}
    container_name: semaphore-{{ semaphore_db_backend }}
    # expose database ports to localhost to allow database backups
    ports:
      - "127.0.0.1:{{ semaphore_db_port }}:{{ semaphore_db_port }}"
      - "[::1]:{{ semaphore_db_port }}:{{ semaphore_db_port }}"
    environment:
      {{ semaphore_db_backends[semaphore_db_backend].env_prefix }}_USER: ${SEMAPHORE_DB_USER}
      {{ semaphore_db_backends[semaphore_db_backend].env_prefix }}_PASSWORD: ${SEMAPHORE_DB_PASS}
      {{ semaphore_db_backends[semaphore_db_backend].env_prefix }}_DB: {{ semaphore_db_name }}
    volumes:
      - {{ semaphore_path }}/data/{{ semaphore_db_backend }}:{{ semaphore_db_backends[semaphore_db_backend].data_path }}
    restart: always
    healthcheck:
      test: {{ semaphore_db_backends[semaphore_db_backend].healthcheck | to_json }}
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - semaphore_network
{% endif %}
{% if semaphore_use_caddy %}

  caddy:
{% if semaphore_caddy_modules | length > 0 %}
    build:
      context: {{ semaphore_path }}/config/caddy
      dockerfile: Dockerfile
    image: semaphore-caddy:{{ semaphore_caddy_version }}
    pull_policy: build
{% else %}
    image: docker.io/library/caddy:{{ semaphore_caddy_version }}{{ '@' ~ semaphore_caddy_digest if semaphore_caddy_digest }}
{% endif %}
    container_name: semaphore-caddy
    restart: always
{% if semaphore_caddy_env | length > 0 %}
    env_file:
      - .caddy.env
{% endif %}
    ports:
      - "{{ semaphore_caddy_http_port }}:80"
      - "{{ semaphore_caddy_https_port}}:443"
    volumes:
      - {{ semaphore_path }}/config/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - {{ semaphore_path }}/data/caddy:/data
      - {{ semaphore_path }}/config/caddy:/config
    depends_on:
      semaphore:
        condition: service_healthy
    networks:
      - semaphore_network
{% endif %}
{% if semaphore_db_backend != "sqlite" or semaphore_use_caddy %}

networks:
  semaphore_network: {driver: "bridge"}
{% endif %}
